/**
 * @section Base Styles
 */

html {
}

body {
  // font-size: 125%;
  margin: 0 auto;
  // max-width: 42em;
  // width: 88%;
  background-color: black;
  overscroll-behavior: none;
}

input,
textarea,
select,
button {
  font: inherit;
}

.container {
  height: 7000px;
}

#scrollpos {
  position: fixed;
}

#drawing {
  position: fixed;
  height: 100%;
  width: 100%;
}
